h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: #003b58;
  font-family: 'Poppins', sans-serif;
  }
  
  h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #003b58;
  font-family: 'Poppins', sans-serif;
  }

.container {
  display: flex;
  justify-content: center;
  background-color: lightblue;
  }
.btn {
  background-color: lightblue;
}
button {
  background-color: white;
  border: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  }
.btnTwo {
  margin-bottom: 20px;
  border-radius: 15px;
  }
.showBtn {
  font-size: 16px;
  background-color: lightblue;
  color: #02557f;
  }

p {
  width: 500px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  }

